html {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}

body {
  min-height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

p {
  flex: 1;
  background-color: lightblue;
  color: grey;
  padding: 16px 24px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.columncontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.bigroundbutton {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 64px;
  margin: 4px 2px;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 50%;
  margin: 10px;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-size: 32px;
  font-weight: 600;
}

.container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.textcontainer {
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
}

#imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.button-74 {
  min-width: 200px;
  min-height: 200px;
  background-color: #bccad6;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 64px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
